.pic {
    max-height: 800px; 
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;

    position: fixed;
    top: 0%;
    left: 25%;
    margin-top: -150px;
    margin-left: -55%;
    border-radius: 2px;
    z-index: 100;
    padding: 15px;
    transform: scale(1);
    transition-property: transform;
    transition-timing-function: ease;
    transition-duration: 200ms;
    display: block;
}

.leftPrev {
    left: -100%;
}

.leftArrow {
    width: 48px;
    height: 48px;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-left: 0;
    border-bottom: 0;
    opacity: 1;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
    display: block
}

.rightNext {
    right: -100%;
}

.rightArrow {
    width: 48px;
    height: 48px;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-left: 0;
    border-bottom: 0;
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block
}