.container {
    position: relative;
    height: 450px;
    overflow: hidden;
}

.wrapper {
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 100px;
    width: 85px;
    transition: top .2s ease-in-out;
}

.imgWrapper {
    cursor: pointer;
    display: block;
    margin-bottom: 25px;
}